
@{
    ViewData["Title"] = "Add Center";
    Layout = "~/Views/Shared/_ProvincialLiaisonMenu.cshtml";
}

<h4>Add Center</h4>
<hr />

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Center added Successfully</p>
    </div>
}

<div class="row">
    <div class="col-md-10 mx-auto">
        <form asp-action="EmployeeSignUp">
            <input asp-for="DateJoined" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row py-0 my-0">
                <div class="col-md-6">
                    <div class="form-group py-0 my-0">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" placeholder="e.g First name" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group py-0 my-0">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" placeholder="e.g Last name" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-0 my-0">
                <div class="col-md-12">
                    <div class="form-group py-0 my-0">
                        <label asp-for="Email" class="control-label">Emaill Address</label>
                        <input asp-for="Email" placeholder="e.g example@domain.com" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row py-0 my-0">
                <div class="col-md-6">
                    <div class="form-group py-0 my-0">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group py-0 my-0">
                        <label asp-for="ConfirmPassword" class="control-label" Cornfirm Password></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Position</label>
                <select class="form-control">
                    <option value="">Selct Role</option>
                    @foreach (var item in _roleManager.Roles.ToList().Where(x => x.Name != "Administrator" && x.Name != "Learner"))
                    {
                        <option value="@item.Id">@item.Name</option>
                    }

                </select>
            </div>
            <div class="col-md-12 text-end">
                <a asp-action="Index">Back to List</a>
                <button type="submit" class="btn btn-primary float-right">Save</button>
            </div>

        </form>
    </div>
</div>
