<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="3000" maxUrl="1000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536"/>
  </system.web>
<system.net>
  <mailSettings>
    <smtp>
      <network host="smtp.mailtrap.io"
               port="587"
               userName ="f4e7b6f9b00c43"
               password="5930de6e7bd705"
               enableSsl="true"/>
    </smtp>
  </mailSettings>
</system.net>
</configuration>