@model LPX2YCDProject2020.Models.Account.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_userDashboard.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-4">

        <h3>Change password</h3>
        <hr />

        @if (ViewBag.IsSuccessful == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Password has been updated sucessfully..
            </div>
        }
        <h6>fields marked with (<span class="text-danger">*</span>) are required</h6>
        <form asp-action="ChangePassword" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div>

            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


