@model EmailConfirmationModel
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=" container">
    <div class="row text-center">
        <div class="col-md-5 offset-4">  

            <h3>Confirm Email</h3>

            @if (Model?.EmailVerified == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Your email has been successfully verified</p>
                </div>
            }
            else
            {
                if (Model?.EmailSent == true)
                {
                    <p>A confirmation email has been sent to the email address you registered. </p>
                }
                else
                {
                    <p>We have sent an email to your registered email. Click the link to login</p>
                }
                <form asp-action="ConfirmEmail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />

                    <p>Did not get any email or deleted by mistake?</p>
                    <div class="form-group">
                        <input type="submit" value="Resend email confirmation link" class="btn btn-primary" />
                    </div>
                </form>
            }

        </div>
    </div>
</div>

