

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_ProvincialLiaisonMenu.cshtml";
}

<h4>Year Plan</h4>

<p class="text-end">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Date
            </th>
            <th>
                Descriptions
            </th>
           
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    2021 Opening Ceremony
                </td>
                <td>
                    2021 January 25
                </td>
                <td>
                    Event to induct new staff members and learners
                </td>
                <td>
                    R 1700
                    -R1000: Refreshments
                    -R700  : Entertainment
                </td>
                
                <td>
                    <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="1">Edit</a> 
                    <a class="btn btn-sm btn-default"asp-action="Details" asp-route-id="1">Details</a> 
                </td>
            </tr>
        
    </tbody>
</table>
