<!-- banner section -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Kickstart your carrer with us</h6>
                                    <a class="btn btn-style mt-sm-5 mt-4" asp-action="AboutUs" asp-controller="Home">
                                        Learn More<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>WE are here to help</h6>
                                    <a class="btn btn-style mt-sm-5 mt-4" asp-action="AboutUs" asp-controller="Home">
                                        Learn More<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->
<!-- banner bottom section -->
<section class="w3l-bottom-grids-6 pb-lg-5 text-center" id="services">
    <div class="container">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-3 col-md-6 px-lg-2 mt-md-0 mt-3">
                <div class="area-box color-2">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h4><a class="title-head">Quality Learning Material</a></h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 px-lg-2">
                <div class="area-box color-1">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <h4> <a class="title-head">Up to date Carrers Portal</a></h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 px-lg-2 mt-lg-0 mt-3">
                <div class="area-box color-4">
                    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                    <h4><a class="title-head">Patient And Reliablbe Tutors</a></h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 px-lg-2 mt-lg-0 mt-3">
                <div class="area-box color-3">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <h4><a class="title-head">Social Activities and Events</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner bottom section -->
